<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img style="height:1.8em;" src="https://form.io/assets/images/formio-logo.png"></a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerlinkactive="active">
        <a class="nav-link" routerlink="home"><i class="fa fa-home"></i></a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item" routerlinkactive="active" *ngif="!auth.authenticated">
        <a class="nav-link" routerlink="auth">Login | Register</a>
      </li>
      <li class="nav-item" *ngif="auth.authenticated">
        <a class="nav-link" routerlink="home" (click)="auth.logout()"><span class="fa fa-power-off"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
